<div class='chores' *ngIf ="chores[1].length > chores[2].length; else workHarder">
   <h3>{{chores.title}}</h3>
   <ul>

    <li *ngFor = 'let chore of chores.tasks'>{{chore}}</li>

    </ul>
   </div>
    <hr>

    <ng-template #workHarder>
<p class="workHarder">Work Harder!</p>

<!-- <div class=""></div> -->

    </ng-template>

  <!--

Find the chores and finishedChores arrays in chores.component.ts and modify the number of items. Save your changes and reload the page to verify that your code works.

If the chores array is empty OR the finishedChores array has at least 3 more items than the chores array, display targetImage under the Done Chores list. Otherwise, use a p tag to display the text, "No allowance yet."

Return to chores.component.ts and change the number of items in the arrays again. Check to make sure the web page correctly responds to your changes.

Finally, if the chores array is empty AND finishedChores contains 4 or more items, display an h1 underneath the lists with the text "Ice cream treat!" Otherwise, display h3 and p elements that describe how to earn ice cream. -->